<div class="slim-navbar">
    <div class="container">
        <ul class="nav">
            <li class="nav-item  active">
                <a class="nav-link" href="{{ path('dashboard') }}">
                    <i class="icon ion-ios-home-outline"></i>
                    <span>Tableau de bord</span>
                </a>

            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('sale') }}">
                    <i class="icon ion-ios-cart"></i>
                    <span>Ventes</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('order') }}">
                    <i class="icon ion-ios-book-outline"></i>
                    <span>Commandes</span>
                </a>
            </li>
            <li class="nav-item with-sub">
                <a class="nav-link" href="#" data-toggle="dropdown">
                    <i class="icon ion-ios-box"></i>
                    <span>Stocks</span>
                </a>
                <div class="sub-item">
                    <ul>
                        <li><a href="{{ path('entry_inventory') }}">Enrtrée de stock</a></li>
                        <li><a href="{{ path('out_inventory') }}">Sortie de stock</a></li>
                        <li><a href="{{ path('stock') }}">Etat du stock</a></li>
                    </ul>
                </div><!-- dropdown-menu -->
            </li>
            <li class="nav-item with-sub">
                <a class="nav-link" href="#" data-toggle="dropdown">
                    <i class="icon ion-ios-gear-outline"></i>
                    <span> Catalogue</span>
                </a>
                <div class="sub-item">
                    <ul>
                        <li><a href="{{ path('category') }}">Catégorie</a></li>
                        <li><a href="{{ path('supplier') }}">Fournisseurs</a></li>
                        <li><a href="{{ path('product') }}">Produits</a></li>
                    </ul>
                </div><!-- dropdown-menu -->
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ path('user') }}">
                    <i class="icon ion-ios-people"></i>
                    <span>Utilisateurs</span>
                    <span class="square-8"></span>
                </a>
            </li>
        </ul>
    </div><!-- container -->
</div><!-- slim-navbar -->
