{{ form_start(form) }}
<div class="row mg-b-25">
    <div class="col-lg-4">
        {{ form_row(form.oldPassword) }}
    </div><!-- col-4 -->
    <div class="col-lg-4">
        {{ form_row(form.newPassword) }}
    </div><!-- col-4 -->
    <div class="col-lg-4">
        {{ form_row(form.confirmPassword) }}
    </div><!-- col-4 -->
</div><!-- row -->

<div class="form-layout-footer">
    <button class="btn btn-primary bd-0" type="submit">Valider</button>
    <button class="btn btn-secondary bd-0" type="reset">Annuler</button>
</div><!-- form-layout-footer -->
{{ form_end(form) }}
