{% extends 'base.html.twig' %}

{% block title %}Les Produits{% endblock %}

{% block body %}
    <div class="slim-pageheader">
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">Tableau de bord</a></li>
            <li class="breadcrumb-item"><a href="{{ path('product') }}">Les Produits</a></li>
            <li class="breadcrumb-item active" aria-current="page">Liste des produits</li>
        </ol>
        <h6 class="slim-pagetitle">Les Produits</h6>
    </div><!-- slim-pageheader -->

    <div class="section-wrapper">
        <div class="row">
            <div class="col-sm-10">
                <label class="section-title">Liste des produits </label>
            </div>
            <div class="col-sm-2">
                <a href="{{ path('product_add') }}" class="btn btn-primary btn-block mg-b-10"><i class="fa fa-plus mg-r-2"></i> Nouveau</a>
            </div>
        </div>
        <p class="mg-b-20 mg-sm-b-40">Voici la liste complète des produits disponible dans votre boutique</p>

        <div class="table-wrapper">
            <table id="user_data" class="table display responsive nowrap">
                <thead>
                <tr>
                    <th class="wd-10p">Photo</th>
                    <th class="wd-15p">Nom complet</th>
                    <th class="wd-15p">Marque</th>
                    <th class="wd-10p">Prix Unitaire</th>
                    <th class="wd-10p">Qté Seuil</th>
                    <th class="wd-10p">Qté Disponible</th>
                    <th class="wd-10p">Valeurs du Stock</th>
                    <th class="wd-15p">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for product in data %}
                    <tr >
                        <td>
                            <a href="#" class="logged-user">
                                <img src="{{ vich_uploader_asset(product) }}" alt="">
                            </a>
                        </td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.brandName }}</td>
                        <td>{{ product.salePrice }}</td>
                        <td>{{ product.minQte }}</td>
                        <td>{{ "00" }}</td>
                        <td>{{ '00' }}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a class="btn btn-secondary" href="{{ path('product_show', {'id': product.id}) }}"><i class="fa fa-eye"></i></a>
                                <a class="btn btn-secondary" href="{{ path('product_edit', {'id': product.id}) }}"><i class="fa fa-pencil"></i></a>
                                <a class="btn btn-danger" href="{{ path('product_delete', {'id': product.id}) }}" onclick="return confirm('Voulez vous vraiment supprimer {{ product.name }}')"><i class="fa fa-trash"></i></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div><!-- table-wrapper -->
    </div><!-- section-wrapper -->
{% endblock %}

{% block javascripts %}
    <script>
        $(function(){
            'use strict';

            $('#user_data').DataTable({
                bLengthChange: false,
                searching: true,
                responsive: true
            });

        });

        $('.dataTables_length select').select2({ minimumResultsForSearch: Infinity });
    </script>
{% endblock %}
