{% extends 'base.html.twig' %}

{% block title %}Les Ventes{% endblock %}

{% block body %}
    <div class="slim-pageheader">
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">Tableau de bord</a></li>
            <li class="breadcrumb-item"><a href="{{ path('sale') }}">Les ventes</a></li>
            <li class="breadcrumb-item active" aria-current="page">Ajouter une vente</li>
        </ol>
        <h6 class="slim-pagetitle">Nouvelle vente</h6>
    </div><!-- slim-pageheader -->
    <div class="section-wrapper">
        {{ include('sale/_form.html.twig') }}
    </div>

{% endblock %}

{% block javascripts %}

    <script src="{{ asset('assets/js/getResult.js') }}"></script>
    <script src="{{ asset('assets/js/sale.js') }}"></script>
    {#<script src="{{ asset('assets/lib/select2/js/select2.full.min.js') }}"></script>#}
    <script>
        // Select2 by showing the search
        $('.select2-show-search').select2({
            minimumResultsForSearch: ''
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {#<link href="{{ asset('assets/lib/select2/css/select2.min.css') }}" rel="stylesheet">#}
{% endblock %}
