<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>GSM : {% block title %}{% endblock %}</title>
        <link href="{{ asset('assets/img/favicon.png') }}" rel="icon">
        <link href="{{ asset('assets/img/apple-touch-icon.png') }}" rel="apple-touch-icon">

        <!-- vendor css -->
        <link href="{{ asset('assets/lib/font-awesome/css/font-awesome.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/lib/Ionicons/css/ionicons.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/lib/perfect-scrollbar/css/perfect-scrollbar.min.css') }}" rel="stylesheet">
        {% block stylesheets %}
        {% endblock %}
        <link href="{{ asset('assets/lib/datatables/css/jquery.dataTables.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/lib/select2/css/select2.min.css') }}" rel="stylesheet">
        <!-- Slim CSS -->
        <link rel="stylesheet" href="{{ asset('assets/css/slim.css') }}">



    </head>
    <body class="">
        {{ include('_partials/_navbar.html.twig') }}
        {{ include('_partials/_topbar.html.twig') }}
            {#{{ include('_partials/_sidebar.html.twig') }}#}
            <div class="slim-mainpanel" style="position: relative;">
                <div class="container pd-t-30">
                    {% for label, messages in app.flashes %}
                        <div class="container">
                            <div class="alert alert-{{ label }}">
                                {% for message in messages %}
                                    <button aria-label="Close" class="close" data-dismiss="alert" type="button"><span aria-hidden="true"> &times; </span></button>
                                    <p>{{ message | raw }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                    {% block body %}{% endblock %}
                </div>

            </div>
        {{ include('_partials/_footer.html.twig') }}
        <script src="{{ asset('assets/lib/jquery/js/jquery.js') }}"></script>
        <script src="{{ asset('assets/lib/popper.js/js/popper.js') }}"></script>
        <script src="{{ asset('assets/lib/bootstrap/js/bootstrap.js') }}"></script>
        <script src="{{ asset('assets/lib/jquery.cookie/js/jquery.cookie.js') }}"></script>
        <script src="{{ asset('assets/lib/d3/js/d3.js') }}"></script>
        <script src="{{ asset('assets/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js') }}"></script>

        <script src="{{ asset('assets/lib/datatables/js/jquery.dataTables.js') }}"></script>
        <script src="{{ asset('assets/lib/datatables-responsive/js/dataTables.responsive.js') }}"></script>

        {% block javascripts %}
        {% endblock %}
        <script src="{{ asset('assets/js/ResizeSensor.js') }}"></script>
        <script src="{{ asset('assets/js/slim.js') }}"></script>
    </body>
</html>
