{% extends 'base.html.twig' %}

{% block title 'Caisse' %}

{% block body %}

    <div class="slim-pageheader">
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="#">Caisse</a></li>
            <li class="breadcrumb-item active" aria-current="page">Vente</li>
        </ol>
        <h6 class="slim-pagetitle">Caisse des ventes</h6>
    </div><!-- slim-pageheader -->
    <div class="section-wrapper mg-b-20">
        <div class="card">
            <div class="card-body">
                <div class="table-wrapper">
                    <table id="datatable1" class="table display responsive nowrap">
                        <thead>
                        <tr>
                            <th class="wd-15p">ID</th>
                            <th class="wd-15p">Référence</th>
                            <th class="wd-20p">Date</th>
                            <th class="wd-15p">Client</th>
                            <th class="wd-15p">Montant total</th>
                            <th class="wd-15p">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for sale in data %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ sale.reference }}</td>
                            <td>{{ sale.saleAt | date('d-m-Y H:i') }}</td>
                            <td>{{ sale.clientName }}</td>
                            <td>{{ sale.amount }}</td>
                            <td>

                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div><!-- table-wrapper -->
            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-lg-4"><a href="{{ path('checkout_sale') }}" class="btn btn-danger">Liste des vente</a></div>
                <div class="col-lg-4"><a href="{{ path('remove_basket') }}" class="btn btn-danger">Vider le panier</a></div>
                <div class="col-lg-4"><a href="{{ path('checkout') }}" class="btn btn-danger">Aller vendre</a></div>
            </div>

        </div>
    </div><!-- section-wrapper -->
{% endblock %}

{% block javascripts %}
    <script>
        $(function() {
            'use strict';

            $('#datatable1').DataTable({
                responsive: true, language: {
                    searchPlaceholder: 'Rechercher...', sSearch: '', lengthMenu: '_MENU_ ventes/page',
                }
            });
        });
    </script>

{% endblock %}
